.app {
  color: white;
  background-color: rgba(255, 255, 255, 0.359);
}

.sidebarBoxes {
  border-top: 1px solid rgba(255, 255, 255, 0.375);
}

#sidePic {
  background-image: url(./assets/nattapic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.appBoxes {
  border-top: 1px solid rgba(255, 255, 255, 0.375);
}

@media (max-height: 699px) and (max-width: 639px) {
  .app {
    margin: 0.5em;
  }

  .appSidebar {
    padding: 0.5em;
  }

  .appSideContainer {
  }

  .sidebarBoxes {
  }

  .appContainer {
  }

  #sidePic {
  }

  .appBoxes {
  }
}

@media (min-height: 700px) and (min-width: 640px) {
  .app {
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    min-height: 97vh;
    min-width: fit-content;
  }

  .app > div {
    flex: 1 1 33%;
  }

  .appHeader {
    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;
    min-width: 92vw;
    padding: 0.5em;
    width: fit-content;
  }

  #sidePic {
    max-width: 300px;
    max-height: 170px;
    min-width: 200px;
    min-height: 150px;

    border: 0.8px solid rgba(255, 255, 255, 0.699);
  }

  .headerTitle {
    text-align: right;
    padding-right: 1vw;
  }

  .appSidebar {
    float: left;
    min-width: 20vh;
    max-width: 32%;
    max-height: 96%;
    padding: 0.5em;
  }

  .appSideContainer {
    display: flex;
    width: auto;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
  }

  .sidebarBoxes {
    width: 100%;
    min-height: 110px;
    height: auto;
  }

  .appContainer {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0.5em;
  }

  .appBoxes {
    width: 100%;
    height: auto;
  }
}
